// variables.scss



//Typography
$font-stack: "proxima-nova", Helvetica, sans-serif;
$extrabold: 800;



// Colors
$brand-color: #6f5fba;
$secondary-color: #28beba;
$copy-color: #545454;
$waterleaf: #f4f3f9;
