// base.scss

// Layout
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 10px $font-stack;
    color: $copy-color;
    background-color: $waterleaf;
}

a { text-decoration: none; }


.top-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

#wrapper {
    width: 830px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@include tablet {
    #wrapper {
        width: 100%;
        padding: 0 2em 0 2em;
    }
}

.container {
    width: 100%;
    padding: 0 0 0 0;
    color: $brand-color;
    float: left;
    
    h1 {
        margin: 0;
        font-weight: $extrabold;
        font-size: 7em;
    }
    
    @include tablet { h1 { font-size: 5em; }}
    
    h3 {
        font-weight: $extrabold;
        font-size: 3.6em;
    }  
    
    @include tablet { h3 { font-size: 2.4em; margin-top: .5em; }}

}


.rows {
    width: 100%;
}


.special {
    color: $secondary-color;
}


.socials {
    display: inline-block;  
    margin-top: 50px;
        
    li { 
        display: inline;
        list-style-type: none;
        margin: 0 10px 0 0;
    }
}


.bump {
    position: relative;
    top: 4px;
}

.button {
    border: 0 none;
    border-radius: 14px;
    font-size: 1.8em;
    font-weight: $extrabold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialised;
    font-smoothing: antialiased;
    color: $waterleaf;
    background-color: $brand-color;
    cursor: pointer;
    display: inline-block;
    padding: 20px 20px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 200px; /* auto */
    text-align: center;
    
    &:hover { background-color: lighten( $brand-color, 5% ); }

}

.smallbutton {
    border: 0 none;
    border-radius: 14px;
    background-color: $waterleaf;
    cursor: pointer;
    display: inline-block;
    padding: 20px 20px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    text-align: center;

    &:hover { background-color: darken( $waterleaf, 5% ); }
    
    img { display: inline-block; }

}





// Typography
p {
    font-size: 1.6em;
    color: $brand-color;
}

    