---
title: Yes, it's me!
---

<div class="top-wrapper">    
    <div id="wrapper">
        <div class="container">
            <h1>Hi! I'm <span class="special">Heath Van Singel.</span></h1>
            <h3>I'm a <span class="special">designer</span> and I'm looking for work <span class="special"><a href="#">in Seattle!</a></span></h3>
        </div>
        <div class="rows">
            <div class="socials">
                <ul>
                    <li class="spacer">
                        <a href="http://www.behance.net/heathvs">
                            <div class="button">See my work</div>
                        </a>
                    </li>
                    <li class="spacer">
                        <a href="../files/resume-heath-vansingel.pdf">
                            <div class="button-resume">Grab my r&eacute;sum&eacute;</div>
                        </a>
                    </li>
                    <li class="bump">
                        <a href="http://dribbble.com/heathvs">
                            <div class="smallbutton"><img src="images/ball.svg">
                            </div>
                        </a>
                    </li>
                    <li class="bump">
                        <a href="http://instagram.com/heathvs">
                            <div class="smallbutton"><img src="images/instagram.svg">
                            </div>
                        </a>
                    </li>
                    <li class="bump">
                        <a href="https://twitter.com/heathvs">
                            <div class="smallbutton"><img src="images/twitter.svg">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>